html,body {
	margin: 0px;
    font-family:'Times New Roman', Times, serif
}

#contenedor{
	width: 960px;
	margin: 0px auto;
	background-color: rgb(218, 12, 12);
}

div{
	background: #fde0d2;
}

#div1{
	width: 960px;
	height: 250px;
	margin-bottom: 20px;
       
            
}

#div2{
	width: 330px;
	height: 250px;
	margin-right: 20px;
        float: left;
        margin-bottom: 20px;
}

#div3{
    width: 610px;
    height: 250px;
    float: left;
    margin-bottom: 20px;
}

#div4{
    width: 330px;
    height: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    color:yellow;
}

#div5{
    width: 295px;
    height: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#div6{
    width: 295px;
    height: 150px;
    float: left;
    margin-bottom: 20px;
}

#div7{
    width: 960px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
    background: #fff;
    color: #1594e1;
    font-size: 16px;
    text-align: center;
    border-top: #777 medium solid; 
    border-bottom: #777 medium solid;
    font-weight: bolder;
}

#div8{
    width: 470px;
    height: 150px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
}

#div9{
    width: 470px;
    height: 150px;
    margin-bottom: 20px;
    float: left;
}

#div10{
    width: 960px;
    height: 190px;
    margin-bottom: 20px;
    float: left;
}

#div11{
    width: 225px;
    height: 100px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
}

#div12{
    width: 225px;
    height: 100px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
}

#div13{
     width: 225px;
    height: 100px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
}

#div14{
     width: 225px;
    height: 100px;
    margin-bottom: 20px;
    float: left;
}

#div15{
     width: 960px;
    height: 40px;
    float: left;
    color: #1594e1;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    }
.titulo{
    color: #116ea2;
    font-size: 24px;
    text-align: center;
}
.texto{
    color: #666;
    font-size: 16px;
}
#azul{
    color: #3b589e;
}